
{% extends 'base.html' %}
{% block content %}






    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <h3>Query Form</h3>
        
        <label for="username">Name</label>
        <input type="text" placeholder="name" id="username" name="name">
        <label for="useremail">Email</label>
        <input type="text" placeholder="Email" id="useremail" name="email">
        <label for="query">Query</label>
        <textarea name="query" id="query" name="query"></textarea>
        <button>SEND</button>
        <div class="credit">Made with <span style="color:tomato;font-size:20px;">❤</span> by Raiden </a></div>
    </form>



{% endblock content %}
